{% extends "administracion/base_admin.html" %}
{% block content %}
<h2>Buses</h2>
<a class="btn" href="{% url 'super_bus_create' %}">Nuevo bus</a>

<table>
  <tr>
    <th>Placa</th>
    <th>Cooperativa</th>
    <th>Capacidad</th>
    <th>Acciones</th>
  </tr>
  {% for b in buses %}
    <tr>
      <td>{{ b.placa }}</td>
      <td>{{ b.cooperativa.nombre }}</td>
      <td>{{ b.capacidad }}</td>
      <td>
        <a class="btn" href="{% url 'super_bus_edit' b.pk %}">Editar</a>
        <a class="btn btn-red" href="{% url 'super_bus_delete' b.pk %}">Eliminar</a>
      </td>
    </tr>
  {% empty %}
    <tr><td colspan="4">No hay buses registrados.</td></tr>
  {% endfor %}
</table>
{% endblock %}
